body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-uMB8JUQpao {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #acacac;
}
.cid-uMB8JUQpao .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMB8JUQpao .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uMB8JUQpao .mbr-text,
.cid-uMB8JUQpao .mbr-section-btn {
  color: #232323;
}
.cid-uMB8JUQpao .card-title,
.cid-uMB8JUQpao .card-box {
  color: #000000;
  text-align: center;
}
.cid-uMB8JUQpao .mbr-text,
.cid-uMB8JUQpao .link-wrap {
  color: #ffffff;
}
.cid-uQhRIajQX4 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #d7d7d7;
}
.cid-uQhRIajQX4 .mbr-section-title {
  text-align: center;
}
.cid-uQhRIajQX4 .mbr-text {
  text-align: center;
}
.cid-uN5fgbeqWy {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uN5fgbeqWy .mbr-section-title {
  text-align: center;
  color: #102347;
}
.cid-uN5fgbeqWy .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-uMB8XbmckV {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uMB8XbmckV .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMB8XbmckV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uMB8XbmckV .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uMB8XbmckV .row {
  flex-direction: row-reverse;
}
.cid-uMB8XbmckV img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uMB8XbmckV .text-wrapper {
    padding: 2rem;
  }
}
.cid-uMB8YFIEz1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-uMB8YFIEz1 .mbr-section-title {
  text-align: center;
}
.cid-uN66gtX9lP {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #d7d7d7;
}
.cid-uN66gtX9lP .line {
  background-color: #000000;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-uMB8L5xvRh {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-uMB8L5xvRh .mbr-section-title {
  text-align: center;
  color: #102347;
}
.cid-uMB8L5xvRh .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-uMB8UHmiUh {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ececec;
}
.cid-uMB8UHmiUh .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMB8UHmiUh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uMB8UHmiUh .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uMB8UHmiUh img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uMB8UHmiUh .text-wrapper {
    padding: 2rem;
  }
}
.cid-uMB8ZJco7s {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #d7d7d7;
}
.cid-uMB8ZJco7s .line {
  background-color: #000000;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-uMB90P7SaA {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-uMB90P7SaA .mbr-section-title {
  text-align: center;
}
.cid-uMB9226eMG {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-uMB9226eMG .mbr-section-title {
  text-align: center;
}
.cid-uMB93hboCX {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #d7d7d7;
}
.cid-uMB93hboCX .line {
  background-color: #000000;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-uMBkOMc5XM {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-uMBkOMc5XM .mbr-section-title {
  text-align: left;
}
.cid-uMB94pvJB1 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uMB94pvJB1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMB94pvJB1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uMB94pvJB1 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uMB94pvJB1 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uMB94pvJB1 .text-wrapper {
    padding: 2rem;
  }
}
.cid-uN8VKJV4Gz {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ececec;
}
.cid-uN8VKJV4Gz .mbr-fallback-image.disabled {
  display: none;
}
.cid-uN8VKJV4Gz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uN8VKJV4Gz .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uN8VKJV4Gz .row {
  flex-direction: row-reverse;
}
.cid-uN8VKJV4Gz img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uN8VKJV4Gz .text-wrapper {
    padding: 2rem;
  }
}
.cid-uMB99wxuia {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-uMB99wxuia .line {
  background-color: #000000;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-uN94EnVBpR {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uN94EnVBpR .mbr-fallback-image.disabled {
  display: none;
}
.cid-uN94EnVBpR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uN94EnVBpR .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uN94EnVBpR img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uN94EnVBpR .text-wrapper {
    padding: 2rem;
  }
}
.cid-uN949KfCVo {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uN949KfCVo .mbr-fallback-image.disabled {
  display: none;
}
.cid-uN949KfCVo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uN949KfCVo .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uN949KfCVo .row {
  flex-direction: row-reverse;
}
.cid-uN949KfCVo img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uN949KfCVo .text-wrapper {
    padding: 2rem;
  }
}
.cid-uN93C0axrv {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uN93C0axrv .mbr-fallback-image.disabled {
  display: none;
}
.cid-uN93C0axrv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uN93C0axrv .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uN93C0axrv img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uN93C0axrv .text-wrapper {
    padding: 2rem;
  }
}
.cid-uN96361iUt {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uN96361iUt .mbr-fallback-image.disabled {
  display: none;
}
.cid-uN96361iUt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uN96361iUt .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uN96361iUt .row {
  flex-direction: row-reverse;
}
.cid-uN96361iUt img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uN96361iUt .text-wrapper {
    padding: 2rem;
  }
}
.cid-uN96mFzk1b {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uN96mFzk1b .mbr-fallback-image.disabled {
  display: none;
}
.cid-uN96mFzk1b .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uN96mFzk1b .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uN96mFzk1b img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uN96mFzk1b .text-wrapper {
    padding: 2rem;
  }
}
.cid-uN9CyTjTcY {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uN9CyTjTcY .mbr-fallback-image.disabled {
  display: none;
}
.cid-uN9CyTjTcY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uN9CyTjTcY .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uN9CyTjTcY .row {
  flex-direction: row-reverse;
}
.cid-uN9CyTjTcY img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uN9CyTjTcY .text-wrapper {
    padding: 2rem;
  }
}
.cid-uN9Eo9nUar {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uN9Eo9nUar .mbr-fallback-image.disabled {
  display: none;
}
.cid-uN9Eo9nUar .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uN9Eo9nUar .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uN9Eo9nUar img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uN9Eo9nUar .text-wrapper {
    padding: 2rem;
  }
}
.cid-v87upVO5m7 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-v87upVO5m7 .mbr-section-title {
  text-align: center;
}
.cid-v87sx7yJuG {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-v87sx7yJuG .mbr-fallback-image.disabled {
  display: none;
}
.cid-v87sx7yJuG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v87sx7yJuG .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v87sx7yJuG .row {
  flex-direction: row-reverse;
}
.cid-v87sx7yJuG img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-v87sx7yJuG .text-wrapper {
    padding: 2rem;
  }
}
.cid-v87sx7yJuG .mbr-section-title {
  text-align: left;
}
.cid-v87u9b60rD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-v87u9b60rD .mbr-fallback-image.disabled {
  display: none;
}
.cid-v87u9b60rD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v87u9b60rD .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v87u9b60rD img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-v87u9b60rD .text-wrapper {
    padding: 2rem;
  }
}
.cid-v87tZ2Ci5F {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-v87tZ2Ci5F .mbr-fallback-image.disabled {
  display: none;
}
.cid-v87tZ2Ci5F .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v87tZ2Ci5F .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v87tZ2Ci5F .row {
  flex-direction: row-reverse;
}
.cid-v87tZ2Ci5F img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-v87tZ2Ci5F .text-wrapper {
    padding: 2rem;
  }
}
.cid-v87tZ2Ci5F .mbr-section-title {
  text-align: left;
}
.cid-v87x2RuPPD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-v87x2RuPPD .mbr-fallback-image.disabled {
  display: none;
}
.cid-v87x2RuPPD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v87x2RuPPD .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v87x2RuPPD img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-v87x2RuPPD .text-wrapper {
    padding: 2rem;
  }
}
.cid-v87xvbApBY {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-v87xvbApBY .mbr-fallback-image.disabled {
  display: none;
}
.cid-v87xvbApBY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v87xvbApBY .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v87xvbApBY .row {
  flex-direction: row-reverse;
}
.cid-v87xvbApBY img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-v87xvbApBY .text-wrapper {
    padding: 2rem;
  }
}
.cid-v87xvbApBY .mbr-section-title {
  text-align: left;
}
.cid-v87xXrCfAy {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-v87xXrCfAy .mbr-fallback-image.disabled {
  display: none;
}
.cid-v87xXrCfAy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v87xXrCfAy .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v87xXrCfAy img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-v87xXrCfAy .text-wrapper {
    padding: 2rem;
  }
}
.cid-v87ygzj2UO {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-v87ygzj2UO .mbr-fallback-image.disabled {
  display: none;
}
.cid-v87ygzj2UO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v87ygzj2UO .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v87ygzj2UO .row {
  flex-direction: row-reverse;
}
.cid-v87ygzj2UO img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-v87ygzj2UO .text-wrapper {
    padding: 2rem;
  }
}
.cid-v87ygzj2UO .mbr-section-title {
  text-align: left;
}
.cid-v87z9d3Vl3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-v87z9d3Vl3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-v87z9d3Vl3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v87z9d3Vl3 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v87z9d3Vl3 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-v87z9d3Vl3 .text-wrapper {
    padding: 2rem;
  }
}
.cid-v87zCDLNmi {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-v87zCDLNmi .mbr-fallback-image.disabled {
  display: none;
}
.cid-v87zCDLNmi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v87zCDLNmi .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v87zCDLNmi .row {
  flex-direction: row-reverse;
}
.cid-v87zCDLNmi img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-v87zCDLNmi .text-wrapper {
    padding: 2rem;
  }
}
.cid-v87zCDLNmi .mbr-section-title {
  text-align: left;
}
.cid-v87zRGjU9K {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-v87zRGjU9K .mbr-section-title {
  text-align: center;
}
.cid-uMB9eVUXNQ {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-uMB9eVUXNQ .mbr-section-title {
  text-align: center;
}
.cid-uN9US1geZX {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uN9US1geZX .mbr-fallback-image.disabled {
  display: none;
}
.cid-uN9US1geZX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uN9US1geZX .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uN9US1geZX .row {
  flex-direction: row-reverse;
}
.cid-uN9US1geZX img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uN9US1geZX .text-wrapper {
    padding: 2rem;
  }
}
.cid-uMBhlCTYf4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-uMBhlCTYf4 .mbr-section-title {
  text-align: center;
}
.cid-uMB9cQbSmV {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-uMB9cQbSmV .mbr-section-title {
  text-align: center;
}
.cid-uMB9e9vP0K {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #d7d7d7;
}
.cid-uMB9e9vP0K .line {
  background-color: #000000;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-uMB9ikMa0g {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uMB9ikMa0g .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMB9ikMa0g .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uMB9ikMa0g .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uMB9ikMa0g img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uMB9ikMa0g .text-wrapper {
    padding: 2rem;
  }
}
.cid-uMB9jlpENs {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #d7d7d7;
}
.cid-uMB9jlpENs .line {
  background-color: #000000;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-uMB9lviKDB {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-uMB9lviKDB .mbr-section-title {
  text-align: center;
}
.cid-uMB9ntBNPb {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uMB9ntBNPb .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMB9ntBNPb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uMB9ntBNPb .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uMB9ntBNPb .row {
  flex-direction: row-reverse;
}
.cid-uMB9ntBNPb img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uMB9ntBNPb .text-wrapper {
    padding: 2rem;
  }
}
.cid-uMB9oqz0Fa {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uMB9oqz0Fa .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMB9oqz0Fa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uMB9oqz0Fa .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uMB9oqz0Fa img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uMB9oqz0Fa .text-wrapper {
    padding: 2rem;
  }
}
.cid-uMBaQp5LE1 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uMBaQp5LE1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMBaQp5LE1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uMBaQp5LE1 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uMBaQp5LE1 .row {
  flex-direction: row-reverse;
}
.cid-uMBaQp5LE1 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uMBaQp5LE1 .text-wrapper {
    padding: 2rem;
  }
}
.cid-uMB9pmx1G3 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uMB9pmx1G3 .mbr-section-title {
  text-align: center;
}
.cid-uMBmJEpN01 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-uMBmJEpN01 .mbr-section-title {
  text-align: center;
}
.cid-uMB9zsw2rA {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-uMB9zsw2rA .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMB9zsw2rA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uMB9zsw2rA .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-uMB9zsw2rA .currentcost {
  color: #3261b7;
}
.cid-uMB9zsw2rA .card-wrapper {
  border-radius: 4px;
  background: #ececec;
}
@media (min-width: 992px) {
  .cid-uMB9zsw2rA .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-uMB9zsw2rA .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uMB9zsw2rA .text-box {
    padding: 1rem;
  }
}
.cid-uMB9zsw2rA .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-uMB9zsw2rA H5 {
  color: #102347;
}
.cid-v87mOFAVR7 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
.cid-v87mOFAVR7 img,
.cid-v87mOFAVR7 .item-img {
  width: 100%;
}
.cid-v87mOFAVR7 .item:focus,
.cid-v87mOFAVR7 span:focus {
  outline: none;
}
.cid-v87mOFAVR7 .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-v87mOFAVR7 .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #ececec;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-v87mOFAVR7 .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-v87mOFAVR7 .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-v87mOFAVR7 .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-v87mOFAVR7 .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-v87mOFAVR7 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-v87mOFAVR7 .mbr-section-title {
  color: #353535;
}
.cid-v87mOFAVR7 .mbr-text,
.cid-v87mOFAVR7 .mbr-section-btn {
  text-align: center;
}
.cid-v87mOFAVR7 .item-title {
  text-align: center;
  color: #acacac;
}
.cid-v87mOFAVR7 .item-subtitle {
  text-align: left;
}
.cid-uQhHsV55OC {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ececec;
}
.cid-uQhHsV55OC .mbr-fallback-image.disabled {
  display: none;
}
.cid-uQhHsV55OC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uQhHsV55OC .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uQhHsV55OC .row {
  flex-direction: row-reverse;
}
.cid-uQhHsV55OC img {
  width: 100%;
}
